<%= form_for @review do |review| %>

	<% if @review.errors.any? %>
    <div id="error_explanation">
      <h3><%= pluralize(@review.errors.count, "error") %> prohibited this review from being saved:</h3>
      <ul>
      	<% @review.errors.full_messages.each do |msg| %>
        	<li><%= msg %></li>
      	<% end %>
      </ul>
    </div>
  <% end %>
	<p>
	<%= review.text_field :comment %>
	</p>
	<p>
	<%= review.submit 'Post' %>
	</p>

<% end %>