<h1>Products List</h1>

<table class="ptable">
	<thead>
		<tr>
			<th>Name</th>
			<th>Description</th>
			<th>Price</th>
			<th></th>
		</tr>
	</thead>

	<tbody>
		<% @products.each do |p| %>
			<tr>
				<td><%= p.name %></td>
				<td><%= p.description %></td>
				<td><%= p.price_in_cents %></td>
				<td><%= button_to "Show", product_path(p), :method => :get %>
					<%= button_to "Edit", edit_product_path(p), :method => :get %>
					<%= button_to "Delete", p, :confirm => 'Are you sure you want to delete this item?', :method => :delete %></td>
			</tr>
		<% end %>
	</tbody>
</table>

<p>Post a <%= link_to "new", new_product_path %> product!</p>
<p><%= link_to "Join", new_user_path %> and write product reviews!</p>