<!DOCTYPE html>
<html>
<head>
  <title>Rainforest</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <div class="navbar">
  <div class="navbar-inner">
    <a class="brand" href="localhost:3000">Rainforest</a>
    <ul class="nav">
      <li class="active"><a href="localhost:3000">Products</a></li>
      <li><a href="http://www.amazon.com">The Original</a></li>
    </ul>
  </div>
</div>
</head>
<body>
<div class="container">
<%= render "alerts" %>

<%= yield %>

<% if current_user %>
	Hello <%= current_user.name %>!
	<%= link_to 'Log out', session_path("current"), :method => :delete %>
<% elsif current_page?(new_session_path) %>
	Don't have an account? <%= link_to 'Sign up', new_user_path %> here!	
<% else %>
	Want to add a product or write a review?
	<%= link_to 'Log in', new_session_path %>
	or
	<%= link_to 'Sign up', new_user_path %>
<% end %>
</div>
</body>
</html>
